<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Reset password</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   <div class="container">
      <h1 class="mt-5 mb-3">Reset Password </h1>
      {{#if message}}
        <h6 class="alert alert.danger mt-5">{{message}}</h6>
        {{/if }}
      <form action="Resetpassword" method="POST">
       
         
        {{#if token}}
            <input type="hidden" class="form-control" id="token" name="token" required value="{{token}}">
        {{/if }}
         <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" minlength="6" name="passWord" required>
         </div>
         <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" minlength="6" name="newPassword" required>
         </div>
         <button type="submit" class="btn btn-primary">Reset password</button>
      </form>
   </div>
</body>
</html>
