nav{
    background-color: blueviolet;
    color: aqua;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;

}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style: none;
}

nav li a{
    color: azure;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;

}

